include ../components/preloader/preloader
include ../components/header/header
include ../components/hero/hero
include ../components/about/about
include ../components/skills/skills
include ../components/demos/demos
include ../components/contacts/contacts
include ../components/footer/footer

doctype
html(lang="en", prefix="og: http://ogp.me/ns#")
  head
    title Web Developer &#124; Nikita Mihalyov
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    +preloader
    .page-wrapper
      +header
      +hero
      +about
      +skills
      +demos
      +contacts
      +footer