mixin header
  header.header.container
    .header__wrapper.wrapper
      .header__name nikita<br>mihalyov
      nav.header__nav
        a.header__link(href="javascript:void(0)", data-target="about") about me
        a.header__link(href="javascript:void(0)", data-target="skills") skills
        a.header__link(href="javascript:void(0)", data-target="demos") demos
        a.header__link(href="javascript:void(0)", data-target="contacts") contacts
      .header__burger
        span
        span
        span
    nav.header-mobile
      a.header-mobile__item.header__link(href="javascript:void(0)", data-target="about") about me
      a.header-mobile__item.header__link(href="javascript:void(0)", data-target="skills") skills
      a.header-mobile__item.header__link(href="javascript:void(0)", data-target="demos") demos
      a.header-mobile__item.header__link(href="javascript:void(0)", data-target="contacts") contacts