include ../_ui/heading/heading

mixin about
  section.about.container
    .about__wrapper.wrapper
      +heading('About me')
      .about__photo
        img.about__photo-img(src="img/about.png", alt="")
      .about__text
        p I have over 5 years of professional frontend experience.
        p My core expertise is developing cross browser, adaptive, optimized and accessible web and mobile (React Native) applications.
        p I use modern approaches and technologies and work with such frameworks as React & Vue.
        p Enjoying JavaScript and learning new things.